.container {
    // width: 1200px;
    min-width: 480px;
    padding: 0 15px;
    margin: 0 auto;

    //   mobile screen
@media screen and (min-width: 480px){
    width: 448px;
   }
//    tablet screen
   @media screen and (min-width: 760px)  {
    width: 720px;
}
// desktop screen
@media screen  and (min-width: 1200px) {
    width: 1200px;
}
}